PORT=3001
NODE_ENV=development
# NODE_ENV=test
# NODE_ENV=production
API_PREFIX=/api

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=se202513
DB_NAME=se_database
DB_SSL=false

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=...
REDIS_DB=0

# Redis Commander
REDIS_COMMANDER_PORT=6380

# pgAdmin
PGADMIN_PORT=5050
PGADMIN_DEFAULT_EMAIL=<CHANGE_ME_EMAIL>
PGADMIN_DEFAULT_PASSWORD=<CHANGE_ME_PGADMIN_PASSWORD>

# jwt
JWT_ACCESS_SECRET=your_jwt_access_secret_key
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key
JWT_ACCESS_EXPIRES_IN=1h
JWT_REFRESH_EXPIRES_IN=7d

# aws
AWS_ACCESS_KEY_ID=MinIOAccessKey123
AWS_SECRET_ACCESS_KEY=MinIOSecretKey123
AWS_REGION=us-east-1
AWS_BUCKET_NAME=se-bucket
AWS_ENDPOINT=http://localhost:9000
AWS_FORCE_PATH_STYLE=true

# OTP
VERIFY_CODE_TTL=300
RESET_CODE_TTL=300
RESEND_THROTTLE_SECONDS=60
REGISTER_WINDOW_TTL=1500
RESET_WINDOW_TTL=1500
MAX_OTP_ATTEMPTS=5

# Email
SMTP_HOST=smtp.yourprovider.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your_smtp_username
SMTP_PASS=your_smtp_password
MAIL_FROM="Tiki Clone <no-reply@tiki.dev>"

# Admin User
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=Admin@123

GOOGLE_CLIENT_ID=your_google_client_id
FACEBOOK_APP_ID=your_facebook_app_id
FACEBOOK_APP_SECRET=your_facebook_app_secret

# Shop Module
SHOP_CACHE_TTL_SEC=300

# SEPAY
SEPAY_API_TOKEN=...

AI_API_KEY=your_ai_api_key_here
AI_MODEL=gemini-2.5-flash

SWAGGER_ENDPOINT=https://api.hiki.io.vn
